<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="969755449368-vj7t9jpdhkgd7kf5ua4p6h7mmod63q1k.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Document</title>
  </head>
  <body>
    <!-- <form action="/signup" method="POST">
        <div class="form">
            <h3 class="title"><span>Ready To</span> Eat! </h3>
            <img class="logo" src="/images/logo.png" alt="">
            <div class="content">
                <div>
                    <input class="input" type="text" placeholder="Full Name" id="name" name="name" required></input>
                </div>
                <div>
                    <input class="input" type="email" placeholder="Email" id="email" name="email" required></input>
                </div>
                <div>
                    <input class="input" type="password" placeholder="Password" id="password" name="password" required></input>
                </div>
            <div><button type="submit" class="button">SIGN UP</button></div>
            <p class="aha">Already have an account? <span><a href="/login"> Sign In</a></span></p>
            </div>
        </div>
    </form> -->
    <h1>google sign in</h1>
    <div
      id="g_id_onload"
      data-client_id="969755449368-vj7t9jpdhkgd7kf5ua4p6h7mmod63q1k.apps.googleusercontent.com"
      data-login_uri="http://localhost:5000/login/auth/google"
      data-auto_prompt="false"
    ></div>
    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <!-- <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId());
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
      }
    </script> -->
  </body>
</html>
